*{
    margin: 0px;
    padding: 0px;}
body {
    background-color:#686868;
}

.sait{
    color: #ccc;
    margin: 0 auto;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:1008px;
}
#scroll{overflow:scroll;max-height:521px;overflow-x:hidden;}
#mainmenu{float:left;width:200px;}
#yw2 li{height:50px;border-bottom:1px solid #272727;background-color: #5D5D5D;}
#yw2 li:hover{background-color: #444;}
#yw2 li a{text-decoration:none;color: #ccc;line-height:50px;font-size:19px;padding-left:5px;display: block;}
#yw2 a:hover {color:#0074a2;}
#yw3 li{height:50px;border-bottom:1px solid #272727;background-color: #5D5D5D;}
#yw3 li:hover{background-color: #444;}
#yw3 li a{text-decoration:none;color: #ccc;line-height:50px;font-size:19px;padding-left:5px;display: block;}
#yw3 a:hover {color:#0074a2;}
#yw4 li{height:50px;border-bottom:1px solid #272727;background-color: #5D5D5D;}
#yw4 li:hover{background-color: #444;}
#yw4 li a{text-decoration:none;color: #ccc;line-height:50px;font-size:19px;padding-left:5px;display: block;}
#yw4 a:hover {color:#0074a2;}
#yw0 li{float:left;height:40px;list-style:none;border-right:1px dotted #272727;}
#yw0 li:last-child{border:none;}
#yw0 li:hover{background-color: #444;}
#yw0 li a{text-decoration:none;color: #ccc;line-height:40px;font-size:19px;padding-left:15px;padding-right:15px;display: block;}
#yw0 a:hover {color:#0074a2;}
#view_edit{float:right;margin-bottom:10px;background-color: #5D5D5D;}
.span-19{float:left;width:79%;margin-left:10px;}
.active{color:red;text-decoration:none;}
.f-topic-title_1 p, .f-topic-title_2 p{background-color: #444;height:50px;border-radius:20px 20px 0 0;color: #0074a2;font-size:20px;
line-height:50px;padding-left:20px;}
.f-topic-title_1 div{background-color: #444;margin-bottom:25px;padding-bottom:25px;}
.f-topic-title_2 div {padding-left:15px;background-color: #444;margin-bottom:25px;padding-bottom:25px;}
#text-input{background:#ccc;border:2px inset #E7E4E4;}
#text-input:focus{border:2px inset #0074a2;}
.form_3{background-color: #444;border-radius:20px 20px 0 0;margin-bottom:25px;padding-bottom:25px;}
.form_3_1{height:50px;color: #0074a2;font-size:20px;line-height:50px;padding-left:20px;}
.scrolling_2{height:250px;overflow:scroll;overflow-x:hidden;background-color: #444;color: #ccc;}
.center_0{float:left;}
.center_l{float:left;width:408px;margin-bottom:25px;}
.tovar_all{width:796px;}
.center_r{float:right;width:380px;margin-left:5px;}
#edit{height:50px;background-color: #444;border-radius:20px 20px 0 0;margin-bottom:10px;padding-left:20px;}
#edit p{color:#ccc;font-size:20px;line-height:50px;}
.submitClass{border:none;background-color: #444;color: #0074a2;font-size:20px;cursor: pointer}
.submitClass:focus{background: #A2A2A2;outline: none;color:#9E0000;-webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);}
.submitClass:hover{color:#9E0000;}
#send_0_0{height:40px;background-color: #444;}
#send p{background-color: #444;height:50px;border-radius:20px 20px 0 0;color: #0074a2;font-size:20px;
line-height:50px;padding-left:20px;}
#send_0{background-color: #444;margin-bottom:25px;padding-bottom:54px;padding-left:20px;padding-right:20px;}
#send_1{float:left;}
#send_2{float:right;}
.send{color:#0074a2;border:1px solid #0074a2;background-color:#ccc;cursor:pointer;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana;
	}
.send:hover{color:#000000;
-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
}
#admin_center{margin-left:329px;margin-top:30px;height:500px;}
.admin_center{width:350px;background:#444;border-radius:20px 20px 0 0;-webkit-box-shadow: 15px 15px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 15px 19px 0px rgba(0,0,0,0.75);
box-shadow: 15px 15px 19px 0px rgba(0,0,0,0.75);}
.admin_center p{text-align:center;font-size:30px;}
/*--------стили админки---------*/

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.form .row
{
	margin: 5px 0;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}

div.form div.success label
{
	color: inherit;
}

div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}
#LoginForm_username,#LoginForm_password{background: #ccc;border: 2px inset #E7E4E4;font-size:24px;margin-left:38px;}
/*--------end стили админки---------*/
#scrollList{
    overflow:scroll;max-height:320px;overflow-x:hidden;
}
#scrollList ul{
    list-style: none;
}
.dropBlock{
    width: 200px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid greenyellow;
}
.drop{
    width:100px; background-color: #585858;
}
.dropCss{
    width: 362px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #151515;cursor:pointer;
}
.haveSubBlock{
    background-color: #727070;
}